<!DOCTYPE html>
<html>
<head>
    <title>Student Tracker</title>
</head>
<body>
    <h1>Welcome to Student Tracker</h1>
    <ul>
        <li><a href="{{ url_for('add_student') }}">Add Student</a></li>
        <li><a href="{{ url_for('add_grade') }}">Add Grade</a></li>
        <li><a href="{{ url_for('view_student') }}">View Student</a></li>
    </ul>
    <!-- <ul>
        <li><a href="add_student.html">Add Student</a></li>
        <li><a href="add_grade.html">Add Grade</a></li>
        <li><a href="view_student.html">View Student Details</a></li>
    </ul> -->
</body>
</html>
